@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-blue-900/[0.1] dark:bg-blue-100/[0.1] rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-900/[0.2] dark:bg-blue-100/[0.2];
}

.href {
    @apply font-semibold text-sky-500 hover:text-sky-400 hover:bg-sky-500/[0.1] px-1 rounded
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 500ms ease-in-out;
}

@keyframes show-up {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes show-down {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes show-left {
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes show-right {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes hide-up {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}
@keyframes hide-down {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}
@keyframes hide-left {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-20px); }
}
@keyframes hide-right {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(20px); }
}

.show-up {
    opacity: 0;
    animation: show-up 0.2s ease-in-out forwards;
}
.show-down {
    opacity: 0;
    animation: show-down 0.2s ease-in-out forwards;
}
.show-left {
    opacity: 0;
    animation: show-left 0.2s ease-in-out forwards;
}
.show-right {
    opacity: 0;
    animation: show-right 0.2s ease-in-out forwards;
}

.hide-up {
    opacity: 0;
    animation: hide-up 0.2s ease-in-out forwards;
}
.hide-down {
    opacity: 0;
    animation: hide-down 0.2s ease-in-out forwards;
}
.hide-left {
    opacity: 0;
    animation: hide-left 0.2s ease-in-out forwards;
}
.hide-right {
    opacity: 0;
    animation: hide-right 0.2s ease-in-out forwards;
}

@keyframes debug {
    0%, 100% { border-color: red; }
    33% { border-color: blue; }
    66% { border-color: green; }
}

.debug {
    animation: debug 2s infinite;
    @apply border;
}
